@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  color: #111827;
}

.custom-bg {
  background: fixed;
  background-image: url('/src/assets/Claude_Monet\,_Le_Grand_Canal.jpg');
  background-size: cover;
  background-position: center;
}

.main-bg {
  background: fixed;
  background-image: url('/src/assets/salon-2015.jpg');
  background-size: cover;
  background-position: center;
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
}
input:-webkit-autofill::first-line {
  color: inherit !important;
}
